<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox20</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="flex-container">
  <header class="flex-item header">Header</header>

  <%= yield %>

  <footer class="flex-item footer">Footer</footer>
</div>

</body>
</html>
